@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');
body {
    font-family: open sans;
    color: #3a3a3a;
    font-size: 15pt;
}

body,
html {
    height: 100%;
}

header {
    margin: 0;
    padding: 0;
}

#home{
    text-decoration: none;
}
h1 {
    color:#958270;
    font-size: 400%;
    text-transform: uppercase;
    font-style: normal;
    float: left;
    margin-top: 0%;
}

nav {
    position: relative;
    text-align: center;

}

a {
    margin-right: 2%;
    text-decoration: none;
    font-size: 200%;
    font-weight: bold;
    color:#3a3a3a;
    letter-spacing: 2px;

}

/* style our promise and hero image*/

.frame-promisebox {
    width: 20%;
    text-align: center;
    margin: 0;
    display: inline-block;
}

.promise-box {
    margin: 2%;
    position: relative;
    top: 300px;
    right: 600px;
    font-weight: bolder;
    font-size: 200%;
    color:#000000;
}

h2{
    text-align: center;
}

li {
    list-style-type: none;
    text-align: center;
    font-size: 100%;
    color:#3a3a3a;
    line-height: 200%;
    font-family: Lato;
    font-style: italic;
}

.categories1{
    float:left;
}
.categories2{
    float:right;
}
/* style the container of hero image*/

.container-hero {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0; 
    background-image: url("../images/hero.jpg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}